{% extends 'main/base.html' %}
{% load static %}

{% block title %}О кафе{% endblock %}
{% block tab-name %}О BUYcycle{% endblock %}
{% block content %}
<p>BUYcycle - магазин велосипедов и различного оборудования для них</p>
<p>Уже 15 лет, с 2007 года, мы продолжаем работать ради людей, для которых велосипед это не просто средство передвижения </p>
<p>Кроме продажи, мы так-же осуществляем ремонт и обслуживаем ваших железных друзей, более подробную информацию об этом можно найти ниже, или нажав на кнопку "РЕМОНТ"</p>
<p>Часы работы: 08:00 - 22:00 БЕЗ ВЫХОДНЫХ</p>
<img src="{% static 'img/Banner-cycle.png' %}" alt="cycle" class="subimg">
{% endblock %}